article {
	margin-left: 15em;
	position: absolute;
	display: block;
	margin-right: 15em;
	color: teal;
	font-family: Georgia, serif;
	font-size: 1em;
	float: left;
	padding: 1em;
}

.heading {
	color: pink;
	font-family: American Typewriter, serif;
	font-weight: bold;
	font-size: 2em;
}

.user {
	margin-left: 15em;
	margin-right: 15em;
	margin-bottom: length;
	width: 10em;
	position: absolute;
	padding: 1em;
}

.replies {
	display: block;
	position: absolute;
	margin-left: 15em;
	margin-bottom: length;
	font-family: Georgia, serif;
	color: teal;
	font-size: .75em;
	border-right: 1px solid pink;
	padding: 1em;
}


aside {
	margin-top: 3em;
}

i {
	color: teal;
	font-size: .8em;
}

.column-1 {
	float: left;
	display: inline-block;
	width: 45%;
}

.column-2 {
float: right;
display: inline-block;
width: 45%;
}