.user {
	margin-left: 15em;
	margin-right: 15em;
	margin-top: 77em;
	width: 10em;
	position: absolute;
}

.replies {
	display: block;
	position: absolute;
	margin-left: 15em;
	margin-top: 125em;
	font-family: sans-serif;
	color: teal;
	font-size: .75em;
	border-right: 1px solid pink;
}